@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body{
    background-color: #dd0000;
}

.container{
    background-color: #ffffff;
    border-radius: 2rem;
}
h1{
    color: #880000;
    font-family: 'Pokemon Solid', cursive;
    font-size: 4rem;
    letter-spacing: .5rem;
    margin-left: 5rem;
}