@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ubuntu:wght@300&display=swap');


body{
    background-color: #dd0000;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    
}

.container{
    margin:.5rem auto;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    min-width: 90vw;
}
h1{
    color: #880000;
    font-family: 'Pokemon Solid', cursive;
    font-size: 2.5rem;
    letter-spacing: .3rem;
    text-align: center;
}

p{
    font-size: .8rem;
}

.pokemons{
        margin: 0;
        padding: 0;
        list-style: none;
    }

 .poke{
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #880000;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 #dd0000;
}

#pokebola{
    height: 1rem;
    width: auto;
}

#pokemonImg{
    height: 8rem;
}

h5{
    font-weight: 700;
    font-size: 1rem;
}

li{
    font-size: .7rem;
    list-style: none;
    padding: .1rem .3rem;
    margin: .1rem -2rem;
    border-radius: .5rem;
    border:1px solid #000 ;
    
    width: fit-content;
}

/* Cores dos tipos de pokemon */

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}



@media screen and (min-width: 992px) {
    .container{
        margin:2rem auto;
    }

    h1{
        font-size: 4rem;
    }
}

@media screen and (min-width: 2000px) {

    h1{
        font-size: 6rem;
    }
    .pagination button {
        font-size: 2rem;
    }

    p{
        font-size: 1.2rem;
    }

}